<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:href="@{/styles/main.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/actions.js}"></script>
<title>Error!</title>
</head>
<body id="Content">
<center>
<img src="styles/error.jpg" alt="Error" align="center"
			style="height: 600px; width: 1000px;"> <br>
<h2>Diese Webseite ist zurzeit nicht erreichbar. Bitte kontaktieren Sie den <a href="mailto:xxx@example.com">Support.</a></h2>
</center>

</body>
</html>