<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:href="@{/styles/main.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/actions.js}"></script>
<title>Gyms database</title>
</head>
<body>
  <h1 align="center">GymKrabbler</h1>
  <h2 style="text-align:center; font-style:italic;"> Finde dein Fitnesstudio in Karlsruhe! </h2>
	<div th:switch="${gyms}" class="container">
    
    <h3 th:case="null">Bisher gibt es noch keine Fitnessstudios!</h3>
		<div th:case="*">
      <h3>Fitnessstudios in Karlsruhe:</h3>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Öffnungszeiten</th>
						<th>Preise</th>
						<th>Adresse</th>
						<th>E-Mail</th>
						<th>Link</th>
						<th>Bewertung</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="gym : ${gyms}">
						<td th:text="${gym.name}"></td>
						<td th:text="${gym.zeiten}"></td>
						<td th:text="${gym.preis}"></td>
						<td th:text="${gym.adresse}"></td>
						<td th:text="${gym.email}"></td>
						<td th:text="${gym.url}"></td>
						<td th:text="${gym.bewertung}"></td>
						<td><a th:href="@{/edit/{id}(id=${gym.id})}">Edit</a></td>
						<td><a th:href="@{/delete/{id}(id=${gym.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/signup">Add a new gym</a>
		</p>
	</div>

	
<div class="container">
<center>
<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>EMail</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <th>3</th>
    <td>4</td>
    <td>6</td>
    <td>8</td>
    <td>10</td>
  </tr>
  <tr>
    <th>3</th>
    <td>6</td>
    <td>9</td>
    <td>12</td>
    <td>15</td>
  </tr>
  <tr>
    <th>4</th>
    <td>8</td>
    <td>12</td>
    <td>16</td>
    <td>20</td>
  </tr>
  <tr>
    <th>5</th>
    <td>10</td>
    <td>15</td>
    <td>20</td>
    <td>25</td>
  </tr>
</table>
</center>
</div>

<!--Button-->
<button type="button" th:onclick="showAlert()">Show Alert</button>
</body>
</html>