<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:href="@{/styles/main.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/actions.js}"></script>
<title>Gyms database</title>
</head>
<body id="Content">
	<div class="header">
		<h1 align="center">GymKrabbler</h1>
		<h2 style="text-align: center; font-style: italic;">Finde dein
			Fitnesstudio in Karlsruhe!</h2>
	</div>
	<br>
	<div th:switch="${gyms}" class="container">
		<!--SearchFunction-->
		<input type="text" id="myInput" onkeyup="myFunction()"
			placeholder="Search for names...">
			
		<center>

			<h3 th:case="null">Bisher gibt es noch keine Fitnessstudios!</h3>
			<div th:case="*">

				<table id="myTable">
					<thead>
						<tr>
							<th>Name</th>
							<th>Öffnungszeiten</th>
							<th>Preise</th>
							<th>Adresse</th>
							<th>E-Mail</th>
							<th>Link</th>
							<th>Update</th>


						</tr>
					</thead>
					<tbody>
						<tr th:each="gym : ${gyms}">
							<td th:text="${gym.name}"></td>
							<td th:text="${gym.zeiten}"></td>
							<td th:text="${gym.preis}"></td>
							<td th:text="${gym.adresse}"></td>
							<td th:text="${gym.email}"></td>
							<td><a th:text="${gym.url}" th:href="${gym.url}"></a></td>
							<td><a th:href="@{/updateGym/{id}(id=${gym.id})}">Update</a></td>


						</tr>

					</tbody>
				</table>
			</div>
			<p>
				<button class="glow-on-hover" type="button">
					<a th:href="@{/updateAllGyms/}">Update All</a>
				</button>
			</p>
		</center>
	</div>
	<div>
		<p>Bitte kontaktieren Sie den Support unter xxx@example.com, falls
			Fehler beim Scraping auftreten.</p>
		<p th:text="${errorMessage}"></p>
	</div>

</body>
</html>